 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="Frontend/Semantic-UI-CSS-master/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="Frontend/Semantic-UI-CSS-master/semantic.min.css">
  <style type="text/css">
    body {
      background-color: #303841;
    }
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }
  </style>
  <script>
    $(document)
    .ready(function() {
      $('.ui.form')
        .form({
          fields: {
            email: {
              identifier  : 'email',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your e-mail'
                },
                {
                  type   : 'email',
                  prompt : 'Please enter a valid e-mail'
                }
              ]
            },
            password: {
              identifier  : 'password',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your password'
                },
                {
                  type   : 'length[6]',
                  prompt : 'Your password must be at least 6 characters'
                }
              ]
            }
          }
        });
        $("#loginForm").submit(function(e) {
          if($('.ui.form').form('is valid'))
          {
          var form = $(this);
          var url = form.attr('action');
          $.ajax({
                 type: "POST",
                 url: url,
                 data: form.serialize(), 
                 success: function(data)
                 {
                    if(data.description=="2"){
                        $('#message').html("Incorrect Password");
                        $('#messageDiv').removeClass("hidden");
                    }
                    if(data.description=="1"){
                        $('#message').html("Username does not exist");
                        $('#messageDiv').removeClass("hidden");
                    }
                    if(data.description=="3"){
						window.location = data.url
                    }
                 }
              });
            e.preventDefault(); 
          }
          });
    });
  </script>
</head>
<body>
<div class="ui middle aligned center aligned grid">
  <div class="six wide column">
    <h2 class="ui image header">
      <!--<img src="assets/images/logo.png" class="image">-->
      <div class="content" style="color: #EEEEEE;">
        Log-in to your account
      </div>
    </h2>
    <form class="ui form" method="post" id="loginForm" action="http://127.0.0.1:5000/login">
      <div class="ui stacked segment">
          <div ><i class="massive red user circle icon" style="margin-bottom: 5%"></i>
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="email" placeholder="E-mail address">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password">
          </div>
        </div>
        <div class="ui fluid large submit button" style="color: #ffffff; background-color: #298f9b">Login</div>
      </div> 

      <div class="ui error message"></div>

    </form>

    <div class="ui message">
      New to us? <a href="http://127.0.0.1:5000/signup">Sign Up</a>
    </div>
        <div class="ui error message" ></div>
      		<div class="ui hidden negative message" id="messageDiv">
        	<div class="header" id="message">
        </div>
      </div>
  </div>
</div>

</div>



</body>
</html>