 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="Frontend/Semantic-UI-CSS-master/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="Frontend/Semantic-UI-CSS-master/semantic.min.css">
  <style type="text/css">
    body {
      background-color: #303841;
    }
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }
  </style>
  <script>
    $(document).ready(function() {
      $('.ui.form')
        .form({
          fields: {
            userName: {
              identifier  : 'userName',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your Username'
                }
              ]
            },
            email: {
              identifier  : 'email',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your e-mail'
                },
                {
                  type   : 'email',
                  prompt : 'Please enter a valid e-mail'
                }
              ]
            },
            password: {
              identifier  : 'password',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your password'
                },
                {
                  type   : 'length[6]',
                  prompt : 'Your password must be at least 6 characters'
                }
              ]
            },
            confirm_password: {
              identifier: 'confirm_password',
              rules : [
                {
                  type : 'empty',
                  prompt : 'Please confirm your password'
                },
                {
                  type : 'match[password]',
                  prompt : 'Passwords don\'t match'
                }
              ]
            }
          }
        });
        $('.ui.dropdown').dropdown();

        $("#signupForm").submit(function(e) {
          if($('.ui.form').form('is valid'))
          {
            var name = $('#name').val();
            var sem = $('#sem').val();
            console.log(name + ", " + sem);
            localStorage.setItem("sem", sem);
            localStorage.setItem("userName", name);
          var form = $(this);
          var url = form.attr('action');
          $.ajax({
                 type: "POST",
                 url: url,
                 data: form.serialize(), 
                 success: function(data)
                 {
                    if(data.description=="3"){
                        $('#message').html("Email already exists");
                        $('#messageDiv').removeClass("hidden");
                    }
                    if(data.description=="2"){
                        $('#message').html("Username already exists");
                        $('#messageDiv').removeClass("hidden");
                    }
                    if(data.description=="1"){
                        $('#message').html("The user is already logged in");
                        $('#messageDiv').removeClass("hidden");
                    }
                    if(data.description=="4"){
                          window.location = data.url
                    }
                 }
              });
            e.preventDefault(); 
          }
          });
    });

  </script>
</head>
<body>
<div class="ui middle aligned center aligned grid">
  <div class="six wide column">
    <h2 class="ui image header">
      <div class="content" style="color: #EEEEEE;">
        Sign up
      </div>
    </h2>
    <form class="ui form" method="post" action="http://127.0.0.1:5000/signup" id="signupForm">
      <div class="ui stacked segment">
          <div ><i class="massive red user circle icon" style="margin-bottom: 5%"></i>
        <div class="field">
          <div class="ui left icon input">
          <i class="user icon"></i>
          <input type="text" name="userName" placeholder="User Name" id="name">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="email" placeholder="E-mail address">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="confirmPassword" placeholder="Confirm Password">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <div class="ui selection dropdown fluid" style="padding-left: 3%">
              <i class=" book grey icon input"></i>
              <input type="hidden" name="sem" id="sem">
              <i class="dropdown icon"></i>
              <div class="default text" style="margin-left: 1%">Semester</div>
              <div class="menu">
                <div class="item" data-value="3">Third</div>
                <div class="item" data-value="4">Four</div>
                <div class="item" data-value="5">Five</div>
                <div class="item" data-value="6">Six</div>
                <div class="item" data-value="7">Seven</div>

              </div>
            </div>
          </div>
        </div>
        <div class="ui fluid large submit button" style="color: #ffffff; background-color: #298f9b">Sign Up</div>
      </div> 

      <div class="ui error message" ></div>
      <div class="ui negative hidden message" id="messageDiv">
        <div class="header" id="message">
        </div>
      </div>

    </form>
  </div>
</div>


  
</div>



</body>
</html>